.field-group.checkbox
  = render partial: "rapidfire/answers/errors", locals: {answer: answer}
  %h3
    = f.label :answer_text, answer.question.question_text
  = f.fields_for :answer_text do |af|
    - answer.question.options.each do |option|
      = af.label option do
        = af.check_box nil, { id: nil, checked: checkbox_checked?(answer, option) }, option
        %b
          = option
        %br
        - if option == "Validate Early Concepts"
          = "Provide feedback remotely or in person on design concepts or detailed screens and layouts."
        - if option == "Share a Day in the Life"
          = "Allow researchers to shadow you for a day or more to better understand your responsibilities, processes, and needs."
        - if option == "Let Us Conduct Discovery Interviews"
          = "Allow researchers to interview you about your role, responsibilities, common tasks, and processes to better understand your needs."
        - if option == "Test Designs for Usability"
          = "Provide remote feedback on refined product designs to ensure that they are easy to use and meet your needs."
        - if option == "Keep and Share a Photo Journal"
          = "Document an experience that happens over time (like a week in the life of an inspector) using images and commentary."
        - if option == "Join a Focus Group"
          = "Join 6-8 people in a room to discuss topics, provide feedback on ideas or concepts, or to share experiences around a specific topic."
