- if @question_group.id == 1
  .header
    / %img.accela-logo{src: asset_path("accela-logo.png")}
    %img.apd-logo{src: asset_path("apd.png")}
  .content
    %h1
      Give us your two cents
    / .down-triangle
    /   &#x25BC;
    %h2
      YOUR INPUT, FEEDBACK, AND IDEAS HELP US BUILD BETTER PRODUCTS FOR YOU AND YOUR CITIZENS.
    %p.intro-paragraph
      Please complete the following survey if you would like to participate in Accela design research.
    = form_for([@question_group, @answer_group_builder]) do |f|
      - @answer_group_builder.answers.each do |answer|
        = f.fields_for("#{answer.question.id}", answer) do |answer_form|
          = render_answer_form_helper(answer, answer_form)
      = f.submit "Submit"

- else
  %h2 Please answer these Questions
  %hr/
  = form_for([@question_group, @answer_group_builder]) do |f|
    - @answer_group_builder.answers.each do |answer|
      = f.fields_for("#{answer.question.id}", answer) do |answer_form|
        = render_answer_form_helper(answer, answer_form)
    = f.submit "Save"

:javascript
  $(document).ready( function() {
  
    $($(".field-group").get(7)).insertAfter($(".field-group").get(3));  

    var Airtable = require('airtable');
    var base = new Airtable({ apiKey: 'keyFnc2NJ89ArQLbH' }).base('appT9NGiqBimMGixI');
    
    $('input[type="submit"]').click(function(event) {
      event.stopPropagation();
      event.preventDefault();
      var name = $('#answer_group_1_answer_text').val();
      var agency = $('#answer_group_2_answer_text').val();
      var department = $('#answer_group_3_answer_text').val();
      var email = $('#answer_group_4_answer_text').val();
      var phone = $('#answer_group_5_answer_text').val();
      var job_role = $('#answer_group_6_answer_text').val();
      var admin_user = $('[name="answer_group[9][answer_text]"]:checked').val();
      var citizenaccess = $('[name="answer_group[11][answer_text]"]:checked').val();

      var selected_solutions = $("input[name='answer_group[12][answer_text][]']:checked");
      var selected_solutions_values = new Array();
      $.each(selected_solutions, function() {
        selected_solutions_values.push($(this).val());
      });

      var selected_products = $("input[name='answer_group[7][answer_text][]']:checked");
      var selected_products_values = new Array();
      $.each(selected_products, function() {
        selected_products_values.push($(this).val());
      });

      var selected_regularly = $("input[name='answer_group[13][answer_text][]']:checked");
      var selected_regularly_values = new Array();
      $.each(selected_regularly, function() {
        selected_regularly_values.push($(this).val());
      });

      var selected_methods = $("input[name='answer_group[8][answer_text][]']:checked");
      var selected_methods_values = new Array();
      $.each(selected_methods, function() {
        selected_methods_values.push($(this).val());
      });

      if (name != "" && agency != "" && department != "" && email != "" && job_role != "" && selected_methods_values.length > 0) {

      setTimeout(function(){
        
            base('form').create({
                "Name": name,
                "Agency": agency,
                "Department": department,
                "Email": email,
                "Phone": phone,
                "Job_Role": job_role,
                "Solutions_2019": selected_solutions_values,
                "Products_2019": selected_products_values,
                "Research_Types": selected_methods_values,
                "Admin_User": admin_user,
                "Citizen_Access": citizenaccess,
                "Regularly_Use": selected_regularly_values
                
            }, function(err, record) {
                if (err) { console.log(err); return; }
                else {
                  $("#new_answer_group").submit();
                }
            });
        }, 500);
      }
      else {
        $("#new_answer_group").submit();
      }
      
    });
  });